@import "../../assets/base.css";


#start-page {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#start-page-img {
  width: 100%;
  height: 50%;
}

#start-page-p {
  font: 50pt "Roboto Medium";
  color: var(--blue);
  position: relative;
  left: 3%;
}

#start-page-info {
  margin-top: 5%;
  width: 90%;
  height: 30%;
  display: flex;

}

#start-page-buttons {
  height: 50%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 10%;
  position: relative;
  left: 5%;
}

.start-button {
  width: 100%;
  height: 30%;
  color: var(--blue);
  background: transparent;
  border: 0 solid;
  font: 20pt Roboto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

