#titlebar {
    width: 100%;
    height: 30px;
    z-index: 100;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    -webkit-app-region: drag;
    overflow: visible;
}

#titlebar-logo {
    position: absolute;
    left: 1%;
    top: 0;
    width: 10%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5%;

    & > img {
        height: 90%;
    }

    & > p {
        color: white;
        font: 10pt Roboto;
    }

    -webkit-app-region: no-drag;

}

#titlebar-buttons {
    position: absolute;
    width: 10%;
    height: 100%;
    left: 90%;
    display: flex;
    align-items: center;
    justify-content: end;
    -webkit-app-region: no-drag;

}

.titlebar-button {
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 0 solid;
    background: rgba(0, 0, 0, 0);
    z-index: 10;

    &:hover {
        background: rgba(0, 0, 0, 0.5);
    }

    & > img {
        width: 50%;
    }

    -webkit-app-region: no-drag;

}

#titlebar-menu {
    -webkit-app-region: no-drag;
    display: flex;
    align-items: center;
    justify-content: start;
    position: absolute;
    height: 100%;
    left: 6%;
    overflow: visible;
}


.menu-button {
    margin-right: 2vw;
    height: 100%;
    /*aspect-ratio: 2/1;*/
    background: transparent;
    color: var(--subtitle);
    border: 0 solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
    cursor: pointer;

    &:hover {
        color: white;
    }

    user-select: none;
}

.menu {
    width: 5vw;
    position: absolute;
    top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background: #111;

    & > button {
        width: 100%;
        margin-bottom: 1vh;
        background: transparent;
        color: var(--subtitle);
        border: 0 solid;
        font-family: "Roboto Light", sans-serif;

        &:hover {
            color: white;
        }
    }
}

