#titlebar{
  width: 100%;
  height: 30px;
  z-index: 100;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  -webkit-app-region: drag;
}

#titlebar-logo{
  position: absolute;
  left: 1%;
  top: 0;
  width: 10%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5%;
  &>img{
    height: 90%;
  }

  &>p{
    color: white;
    font: 10pt Roboto;
  }
  -webkit-app-region: no-drag;

}

#titlebar-buttons{
  position: absolute;
  width: 10%;
  height: 100%;
  left: 90%;
  display: flex;
  align-items: center;
  justify-content: end;
  -webkit-app-region: no-drag;

}
.titlebar-button{
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 0 solid;
  background: rgba(0,0,0,0);
  z-index: 10;
  &:hover{
    background: rgba(0,0,0,0.05);
  }
  &>img{
    width: 50%;
  }
  -webkit-app-region: no-drag;

}
