*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;

  &::-webkit-scrollbar{
    width: 0;
    height: 0;
  }

  scrollbar-width: none;
}


html,body{
  width: 100vw;
  height: 100vh;
}

#root{
  width: 100%;
  height: 100%;
  position: relative;
}
