#header{
  width: 100%;
  height: 10%;
  border-bottom: 2px solid black;
}


#main{
  display: flex;
  width: 100%;
  height: 90%;
}

#text{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*border-right: 2px solid black;*/
}
#text-text{
  width: 90%;
  height: 90%;
  resize: none;
  border: none;
  outline: none;
  font: 14pt Inter;

}
#text-md{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
  top: 5%;
}

#text-md-parser{
  width: 90%;

}


#del{
  height: 100%;
  border: 1px solid black;
  cursor: pointer;
}
